@import 'base/variables'

html
    font-size: 10px

*
    font-family: 'Montserrat', sans-serif  
    box-sizing: border-box
    margin: 0
    

h1, h2, h3, h4, h5, h6 
    margin: 0

.body
    font-size: 1rem
    color: $black 

.container
    width: 100%
    max-width: 1200px
    padding-left: 1rem
    padding-right: 1rem
    margin: 0 auto

.title
    color: #2b2a2c
    font-size: 4.5rem
    font-weight: 700
    text-transform: uppercase
    text-align: center
    
/* Blocks */
@import 'blocks/header'
@import 'blocks/user'
@import 'blocks/nav'
@import 'blocks/intro'
@import 'blocks/social'
@import 'blocks/btn'
@import 'blocks/works'
@import 'blocks/portfolio'