@import 'base/variables'

html
    font-size: 10px

*
    font-family: 'Montserrat', sans-serif  
    
.body
    font-size: 1rem
    color: $black 

.title
    color: #2b2a2c
    font-size: 4.5rem
    font-weight: 700
    text-transform: uppercase
    text-align: center
    
/* Blocks */
@import 'blocks/header'
@import 'blocks/user'
@import 'blocks/nav'
@import 'blocks/intro'
@import 'blocks/social'
@import 'blocks/btn'
@import 'blocks/works'
@import 'blocks/portfolio'
@import 'blocks/about'
@import 'blocks/img'
@import 'blocks/footer'
@import 'blocks/burger'
@import 'blocks/media'