.header
    width: 100%
    background: url(../../images/bg/concrete-wall.png) center repeat
    padding-top: 3rem
    &__top
        position: sticky
        width: 100%
        z-index: 1000
        display: flex
        justify-content: space-between
        align-items: center