.intro
    &__inner
        display: flex
        padding-top: 10rem
        padding-bottom: 12rem
        border-bottom: 1px solid #c9c7c78a
    &__content
        width: 50%
    &__suptitle
        font-size: 3.2rem
        font-weight: 200
    &__title
        font-size: 4.5rem
        font-weight: 700
    &__text
        font-size: 1.8rem
        font-weight: 400
        color: $grey
    &__photo
        width: 50%