.footer-container {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    font-size: 1.5rem;
    overflow: hidden;
  }
  .email-link {
    font-size: 2rem;
    color: black;
    text-decoration: none;
  }
}
