.work-wrapper {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 3rem;
    line-height: 20px;
  }
  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.projects-title {
  text-align: left;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 2%;
    bottom: 0px;
    width: 80px;
    height: 10px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(159,144,38,0.5);
    z-index: -1;
  }
}

.more-details {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  font-size: 12px;
}
.more-details:hover {
  background-position: right center;
}

.visite-site {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,195,182,1) 41%, rgba(253,9,112,1) 100%, rgba(0,212,255,1) 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  font-size: 12px;
  margin-left: 10px;
}
.visite-site:hover {
  background-position: right center;
}

// Variables
$color_grey: #BFBFBF;
$color_green: #B3D23F;
$color_dark: #1A1A1A;
$color_light: #FAFAFA;
$color_background: #2D3235;
$default_timer: 987ms;


// Let's write some real CSS??
.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-right: 40px;

  &:hover {
    & .button__border-circle {
      transform: translateX(60px);
    }

    & .button__mask-circle {
      clip-path: circle(25px at 85px);
    }
  }
}

.button__text {
  z-index: 1;
  font-size: 25px;
  font-weight: 700;
  margin-right: -18px;
  color: $color_background;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.button__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.button__arrow {
  left: 35px;
  height: 3px;
  width: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  background-color: $color_green;

  &:after {
    content: '';
    width: 0;
    height: 0;
    top: -5px;
    right: -7px;
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $color_green;
  }
}

.button__border-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $color_grey;
  transition: transform $default_timer;
}

.button__mask-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(25px);
  transition: clip-path $default_timer;
}

.button__small-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(60px);
  background-color: $color_green;
}